div#preloaded-images {
   position: absolute;
   overflow: hidden;
   left: -9999px; 
   top: -9999px;
   height: 1px;
   width: 1px;
}

body {
    margin: 0;
    padding: 0;
	background:#000;	
	font-size:16px;
	word-spacing: 1px;
	color:#eee;
}

.wrapper{
	margin-top:70px;
}

.center{
	text-align:center;
	margin-top:15px;
}

.img-circle{
	border:10px solid #F3EFE0;
}

.hr{
	border: 1px solid #eee
}

.glyphicon-star{
	color:#dfe0e0;
}

.glyphicon-star.filled{
	color:#22A39F;
}

.skillsrow{
	margin-top:10px;
}

.text-info{
	color:#22A39F;
}

.project{    
	height: 254px;
	margin:0 60px;
	cursor:pointer;
    position: relative;
	border:solid 2px #22A39F;
    z-index: 1;
	perspective: 1000px;
	-webkit-perspective: 1000px;
}

.f1_card {
  width: 100%;
  height: 100%;
  display: block;
  transform-style: preserve-3d;
  transition: all 0.6s linear;
  -webkit-transition:: all 0.6s linear;
  -moz-transition:: all 0.6s linear;
}
.f1_container:hover .f1_card {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
}
.face {
  position: absolute;
  background:#fff;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  color: white;
  text-align: center;
  background-color: #aaa;
}
.face.back:hover .overlay{
	display: block;
}

.flip-container{
	margin-bottom:40px;
}

.flip-container img{
	height:100%;
	width:100%;
}

.flip-container:hover .project{
	transform: rotateY(360deg);
}

.row.project_row{
	margin-bottom:30px;
}

.overlay{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background:rgba(34, 163, 159, 0.7);
	display:block;
}

.text-data{
	position:absolute;
	top:0;
	left:10px;
	width:95%;
	padding:10px;
	color:#fff;
	height: 230px;
	overflow-y: scroll;
}

.project .icon{
	position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
    background: turquoise;
    color: #000;
    z-index: 2;
    text-align: center;
    font-size: 14px;
}


/* POP UP Container */

.container.popContainer {
    background: none no-repeat fixed 0 0 rgba(0, 0, 0, 0.3);
    display: none;
    height: 100%;
    left: 0;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 111223;
}
.col-lg-12.popupWrapper {
    height: 80%;
    top: 2%;
    width: 100%;
}
.alert.popupHeader, .progressBarWrapper {
    margin-bottom: 0;
}
.alert.popupHeader .badge {
    cursor: pointer;
    float: right;
}
.alert.popupContent {
    height: 50%;
    /* min-height: 600px; */
    min-height: auto;
    overflow: auto;
}
.showPopUp {
    cursor: pointer;
}
/* POP UP END */

.project-header, .project-info{
	display:none;
}

.languagesUsed{
	font-size:20px;
}

.languagesUsed .label{
	margin-right:10px;
}

@media (max-width: 500px) {
	.navbar-brand {
		width:80%;
		height:70px;
	}
	
	.navbar-brand .text-info{
		font-size:15px;
	}
	
	.col-xs-12{
		margin-bottom:10px;
	}
	
	.experience  > .row > .col-xs-4{
		word-wrap:break-word;
	}
	
	.text-data > h3, .text-data > h4 {
		font-size: 10px;
		margin-top: 0;
	}
}

@media (max-width: 768px) {
	.col-xs-12{
		margin-bottom:10px;
	}
}
