.AskQuesion .code-panel, .AskQuesion .preview-panel{
	border:1px solid #cccccc;
	padding:5px 10px;
}

.AskQuesion .code-panel h4, .AskQuesion .preview-panel h4{
	text-decoration:underline;
}

.AskQuesion .code-panel textarea, .AskQuesion .preview-panel output{
	resize:none;
	margin-top:10px;
	min-height:200px;
	height:auto;
}

.AskQuesion .preview-panel output{
	border:1px solid #ccc;
	border-radius: 5px;
	margin-top: 40px;
	padding:10px;
}

.AskQuesion .row{
	margin-top: 10px;
}

.AskQuesion .label-tags{
	font-size:15px;
	margin-right:10px;
}

.AskQuesion .removeTag{
	cursor: pointer;
    margin-left: 5px;
	color: #a52a2a;
}