<div class="col-md-12 ChangePassword">
	<div class="container">
		<div class="col-md-12 row">
			<h4 class="text-primary">Change Password</h4>
			<hr/>
		</div>
        
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form>
                <div class="col-md-4">
                    <h5>Current Password</h5>
                </div>
                <div class="col-md-8 form-group" ng-class="{'has-error': ChngPassCtrl.errorPass == true,'has-success': ChngPassCtrl.errorPass == false}">
                    <input type="password" placeholder="Current Password" class="form-control" ng-model="ChngPassCtrl.currPass" ng-blur="ChngPassCtrl.checkCurrPass()"/>
                </div>
                
                <div class="col-md-4">
                    <br/>
                    <h5>New Password</h5>
                </div>
                <div class="col-md-8 form-group" ng-class="{'has-error': ChngPassCtrl.newPass != ChngPassCtrl.confirmPass,'has-success': ChngPassCtrl.newPass == ChngPassCtrl.confirmPass && ChngPassCtrl.newPass!=null}">
                    <br/>
                    <input type="password" placeholder="New Password" class="form-control" ng-model="ChngPassCtrl.newPass" ng-blur="ChngPassCtrl.checkNewConfirmPass()"/>
                </div>
                
                <div class="col-md-4">
                    <br/>
                    <h5>Confirm Password</h5>
                </div>
                <div class="col-md-8" ng-class="{'has-error': ChngPassCtrl.newPass != ChngPassCtrl.confirmPass,'has-success': ChngPassCtrl.newPass == ChngPassCtrl.confirmPass && ChngPassCtrl.confirmPass!=null}">
                    <br/>
                    <input type="password" placeholder="Confirm Password" class="form-control" ng-model="ChngPassCtrl.confirmPass" ng-blur="ChngPassCtrl.checkNewConfirmPass()"/>
                </div>
                
                <div class="col-md-8">
                    <br/>
                    <button class="btn btn-sm btn-warning" ng-disabled="!ChngPassCtrl.currPass || !ChngPassCtrl.newPass || !ChngPassCtrl.confirmPass || ChngPassCtrl.newPass!=ChngPassCtrl.confirmPass || ChngPassCtrl.errorPass" ng-click="ChngPassCtrl.changePassword()">
                        Change Password
                    </button>
                </div>
                <hr class="col-md-12"/>
                <div class="col-md-12" ng-if="ChngPassCtrl.errorMessage">
                    <strong class="text-danger"><i class="fa fa-exclamation-triangle"></i> {{ChngPassCtrl.errorMessage}}</strong>
                </div>
            </form>
        </div>
	</div>
</div>