<div class="container">
	<div class="col-md-12 col-xs-12 col-lg-12">
		 <h3 class="text-danger">ABILITIES</h3><em>"Knowledge has to be improved, challenged, and increased constantly, or it vanishes. -- Peter Drucker"</em>
	<hr class="hr" />
	</div>
	<div class="col-md-12 col-xs-12 col-lg-12">
		<h4 class="text-info">Skills</h4>
		<div class="col-md-6 col-xs-6 col-lg-6">
			<div class="row skillsrow">
				<div class="col-md-8 col-xs-8 col-lg-8">
					HTML(5)
				</div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</div>
			</div>
			<div class="row skillsrow">
				<div class="col-md-8 col-xs-8 col-lg-8">
					CSS(3)
				</div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</div>
			</div>
			<div class="row skillsrow">
				<div class="col-md-8 col-xs-8 col-lg-8">
					JavaScript
				</div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</div>
			</div>
			<div class="row skillsrow">
				<div class="col-md-8 col-xs-8 col-lg-8">
					jQuery
				</div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</div>
			</div>
			<div class="row skillsrow">
				<div class="col-md-8 col-xs-8 col-lg-8">
					AngularJS
				</div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</div>
			</div>
			<div class="row skillsrow">
				<div class="col-md-8 col-xs-8 col-lg-8">
					JSON
				</div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</div>
			</div>
			<div class="row skillsrow">
				<div class="col-md-8 col-xs-8 col-lg-8">
					XML
				</div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</div>
			</div>
			<div class="row skillsrow">
				<div class="col-md-8 col-xs-8 col-lg-8">
					MVC Pattern
				</div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star"></span>
				</div>
			</div>
			<div class="row skillsrow">
				<div class="col-md-8 col-xs-8 col-lg-8">
					REST API's
				</div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xs-6 col-lg-6">
			<div class="row skillsrow">
				<div class="col-md-8 col-xs-8 col-lg-8">
					PHP(5)
				</div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star"></span>
				</div>
			</div>
			<div class="row skillsrow">
				<div class="col-md-8 col-xs-8 col-lg-8">
					MySQL
				</div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</div>
			</div>
			<div class="row skillsrow">
				<div class="col-md-8 col-xs-8 col-lg-8">
					Object Oriented Programming (JavaScript)
				</div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star"></span>
				</div>
			</div>
			<div class="row skillsrow">
				<div class="col-md-8 col-xs-8 col-lg-8">
					SEO
				</div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star"></span>
				</div>
			</div>
			<div class="row skillsrow">
				<div class="col-md-8 col-xs-8 col-lg-8">
					Bootstrap Framework
				</div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</div>
			</div>
			<div class="row skillsrow">
				<div class="col-md-8 col-xs-8 col-lg-8">
					Java
				</div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star"></span>
				</div>
			</div>
			<div class="row skillsrow">
				<div class="col-md-8 col-xs-8 col-lg-8">
					LESS
				</div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star"></span>
				</div>
			</div>
			<div class="row skillsrow">
				<div class="col-md-8 col-xs-8 col-lg-8">
					Wordpress
				</div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</div>
			</div>
			<div class="row skillsrow">
				<div class="col-md-8 col-xs-8 col-lg-8">
					Command line
				</div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12 col-xs-12 col-lg-12">
		<br/>
		<p class="center text-warning">There are various custom made projects in <a href="#/projects/">Projects section</a> using all above skills.</p>
	</div>
	
	
	<div class="col-md-12 col-xs-12 col-lg-12">
		<h4 class="text-info">Tools</h4>
		<div class="col-md-6 col-xs-6 col-lg-6">
			<div class="row skillsrow">
				<div class="col-md-8 col-xs-8 col-lg-8">
					Firefox+debugging tools(3 years)
				</div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</div>
			</div>
			<div class="row skillsrow">
				<div class="col-md-8 col-xs-8 col-lg-8">
					Google Chrome(3 years)
				</div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</div>
			</div>
			<div class="row skillsrow">
				<div class="col-md-8 col-xs-8 col-lg-8">
					Safari-Windows(3 years)
				</div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</div>
			</div>
			<div class="row skillsrow">
				<div class="col-md-8 col-xs-8 col-lg-8">
					Safari-MAC(2 years)
				</div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star"></span>
				</div>
			</div>
			<div class="row skillsrow">
				<div class="col-md-8 col-xs-8 col-lg-8">
					Internet Explorer 7+(3 years)
				</div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</div>
			</div>
			<div class="row skillsrow">
				<div class="col-md-8 col-xs-8 col-lg-8">
					Notepad++ (6 years)
				</div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</div>
			</div>
			<div class="row skillsrow">
				<div class="col-md-8 col-xs-8 col-lg-8">
					Sublime Text (1 year)
				</div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"></span>
				</div>
			</div>
			<div class="row skillsrow">
				<div class="col-md-8 col-xs-8 col-lg-8">
					MS Office (10+ years)
				</div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xs-6 col-lg-6">
			<div class="row skillsrow">
				<div class="col-md-8 col-xs-8 col-lg-8">
					Windows(10+ years)
				</div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</div>
			</div>
			<div class="row skillsrow">
				<div class="col-md-8 col-xs-8 col-lg-8">
					MAC(1 year)
				</div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"></span>
				</div>
			</div>
			<div class="row skillsrow">
				<div class="col-md-8 col-xs-8 col-lg-8">
					Filezilla(3 years)
				</div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</div>
			</div>
			<div class="row skillsrow">
				<div class="col-md-8 col-xs-8 col-lg-8">
					GIT
				</div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star"></span>
				</div>
			</div>
			<div class="row skillsrow">
				<div class="col-md-8 col-xs-8 col-lg-8">
					WinCvs(2 years)
				</div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</div>
			</div>
			<div class="row skillsrow">
				<div class="col-md-8 col-xs-8 col-lg-8">
					CPanel(3 years)
				</div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</div>
			</div>
			<div class="row skillsrow">
				<div class="col-md-8 col-xs-8 col-lg-8">
					Adobe Photoshop (2 years)
				</div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star"></span>
				</div>
			</div>
			<div class="row skillsrow">
				<div class="col-md-8 col-xs-8 col-lg-8">
					Firebug, Chrome debugger, Colorzilla.(2 years)
				</div>
				<div class="col-md-4 col-xs-4 col-lg-4">
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
					<span class="glyphicon glyphicon-star filled"></span>
				</div>
			</div>
		</div>
	</div>
</div>
