<div class="container">
	<div class="col-md-12 col-xs-12 col-lg-12">
		 <h3 class="text-danger">CONTACT</h3><em>"Most people say that it is the intellect which makes a great scientist. They are wrong: it is character." -- Albert Einstein.</em>
	<hr class="hr" />
	</div>
	<div class="col-md-12 col-xs-12 col-lg-12">
		<div class="col-md-6 col-xs-12 col-lg-6">
			<div class="row skillsrow">
				<a href="http://in.linkedin.com/pub/wasimakram-mulla/53/694/b50" target="_blank">
					<img src="img/Linkedin.png" height="30" width="30"> http://in.linkedin.com/pub/wasimakram-mulla/53/694/b50
				</a>
			</div>
			<div class="row skillsrow">
				<a href="http://www.facebook.com/meetwasim" target="_blank">
					<img src="img/Facebook.png" height="30" width="30"> http://www.facebook.com/meetwasim
				</a>
			</div>
			<div class="row skillsrow">
				<a href="mailto:wasim3ace@gmail.com" target="_blank">
					<img src="img/Email.png" height="30" width="30"> wasim3ace@gmail.com
				</a>
			</div>
		</div>
		<div class="col-md-6 col-xs-12 col-lg-6">
			<div class="row skillsrow">
				<a href="javascript:void(0);">
					<img src="img/Skype.png" height="30" width="30"> wasimakram.mulla
				</a>
			</div>
			<div class="row skillsrow">
				<a href="https://plus.google.com/u/0/117032626903205863830" target="_blank">
					<img src="img/GooglePlus.png" height="30" width="30"> https://plus.google.com/u/0/Wasimakram-Mulla
				</a>
			</div>
			<div class="row skillsrow">
				<a href="https://github.com/wasimakram-mulla" target="_blank">
					<img src="img/github.png" height="30" width="30"> https://github.com/wasimakram-mulla
				</a>
			</div>
		</div>
	</div>
</div>
