<div class="container">
	<div class="col-md-12 col-xs-12 col-lg-12">
		 <h3 class="text-danger">PROJECTS</h3><em>"There is no substitute for hard work." -- Thomas A. Edison.<br/>"Quality is not an act. It is a habit." -- Aristotle</em>
	<hr class="hr" />
	<div id="totProjects">Total Projects: <strong><span class="text-info"></span></strong></div><br/>
	</div>

	<div class="col-md-6 col-xs-12 col-lg-6 flip-container">
		<div class="project f1_container">
			<span class="icon" title="Click me for more Info.">
				<span class="glyphicon glyphicon-info-sign"></span>
			</span>
			<a class="f1_card" href="projects/bridge/index.html" target="_blank">
				<div class="front face">
					<img src="img/projects/bridge.jpg" class="featurette-image img-responsive" alt="500x300">
				</div>
				<div class="back face">
					<div class="overlay">
						<div class="text-data">
							<h3>Bridge game</h3>
							<h4>
								<div class="languagesUsed"><span>Languages Used:</span>
									<label class="label label-success">HTML5</label>
									<label class="label label-info">CSS3</label>
									<label class="label label-info">BootStrap</label>
									<label class="label label-warning">jQuery</label>
									<label class="label label-warning">Angular 1</label>
								</div><br/>
							A game made from solitaire cards. Fun and interactive to play, and is similar to UNO cards.
								<br/>
								Frameworks used: HTML5, CSS3, BootStrap, AngularJS 1, etc.
							</h4>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div> <!-- Angular Blog Project Finish -->
	
	<div class="col-md-6 col-xs-12 col-lg-6 flip-container">
		<div class="project f1_container">
			<span class="icon" title="Click me for more Info.">
				<span class="glyphicon glyphicon-info-sign"></span>
			</span>
			<a class="f1_card" href="projects/blog/index.html" target="_blank">
				<div class="front face">
					<img src="img/projects/blog.jpg" class="featurette-image img-responsive" alt="500x300">
				</div>
				<div class="back face">
					<div class="overlay">
						<div class="text-data">
							<h3>Blog post</h3>
							<h4>
								<div class="languagesUsed"><span>Languages Used:</span>
									<label class="label label-success">HTML5</label>
									<label class="label label-info">CSS3</label>
									<label class="label label-info">BootStrap</label>
									<label class="label label-warning">JavaScript</label>
									<label class="label label-warning">Angular 1</label>
								</div><br/>
							I have created a static data blog, this blog stores the data only in the temporary session, once the session is closed the data is reset back to the original data.<br/><br/>
							I have created this blog trying to use as standard angular code as possible, you can even do so just by checking out the code and use it.
								<br/>
								Frameworks used: HTML5, CSS3, BootStrap, AngularJS 1, etc.
							</h4>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div> <!-- Angular Blog Project Finish -->
	
	<div class="col-md-6 col-xs-12 col-lg-6 flip-container">
		<div class="project f1_container">
			<span class="icon" title="Click me for more Info.">
				<span class="glyphicon glyphicon-info-sign"></span>
			</span>
			<a class="f1_card" href="projects/expedition/" target="_blank">
				<div class="front face">
					<img src="img/projects/expedition.jpg" class="featurette-image img-responsive" alt="500x300">
				</div>
				<div class="back face">
					<div class="overlay">
						<div class="text-data"> 
							<h3>Expedition Quest</h3>
							<h4>
								<div class="languagesUsed"><span>Languages Used:</span>
									<label class="label label-success">HTML5</label>
									<label class="label label-info">CSS3</label>
									<label class="label label-info">BootStrap</label>
									<label class="label label-warning">JavaScript</label>
									<label class="label label-warning">Angular 1</label>
									<label class="label label-warning">jQuery</label>
								</div><br/>
							Expedition Quest, is a fun game with a lot of things to do. There are various set of rules and gameplays.<br/><br/>		You'll love the two different layouts in which you can play. You will play it in 1024 * 768	resolution at best.						
								<br/>
								Frameworks used: HTML5, CSS3, Bootstrap, AngularJS 1, jQuery and JavaScript, etc.
							</h4>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div> <!-- Angular Project Expedition Quest Finish -->

	<div class="col-md-6 col-xs-12 col-lg-6 flip-container">
		<div class="project f1_container">
			<span class="icon" title="Click me for more Info.">
				<span class="glyphicon glyphicon-info-sign"></span>
			</span>
			<a class="f1_card" href="projects/chatbox/index.html" target="_blank">
				<div class="front face">
					<img src="img/projects/chatbox.jpg" class="featurette-image img-responsive" alt="500x300">
				</div>
				<div class="back face">
					<div class="overlay">
						<div class="text-data">
							<h3>Chatbox</h3>
							<h4>
								<div class="languagesUsed"><span>Languages Used:</span>
									<label class="label label-success">HTML5</label>
									<label class="label label-info">CSS3</label>
									<label class="label label-info">BootStrap</label>
									<label class="label label-warning">JavaScript</label>
									<label class="label label-warning">Angular 1</label>
								</div><br/>
							This is a very powerful chatbox application where a user needs no registration and anyone can create his own group and can chat.</h4>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div> <!-- Angular Chatroom Finish -->

	<div class="col-md-6 col-xs-12 col-lg-6 flip-container">
		<div class="project f1_container">
			<span class="icon" title="Click me for more Info.">
				<span class="glyphicon glyphicon-info-sign"></span>
			</span>
			<a class="f1_card" href="projects/hangman/" target="_blank">
				<div class="front face">
					<img src="img/projects/hangman.jpg" class="featurette-image img-responsive" alt="500x300">
				</div>
				<div class="back face">
					<div class="overlay">
						<div class="text-data">
							<h3>Hangman</h3>
							<h4>
								<div class="languagesUsed"><span>Languages Used:</span>
									<label class="label label-success">HTML5</label>
									<label class="label label-info">CSS3</label>
									<label class="label label-info">BootStrap</label>
									<label class="label label-warning">JavaScript</label>
									<label class="label label-warning">Angular 1</label>
								</div><br/>
							A very easy to play game created by me. Its quite simple to play just follow the rules below.<br/>
							<strong>Rules:</strong><br/>
							Let the opponent add a movie name of his choice.<br/>
							And then start the game by clicking "Start Game" button.<br/>
							Later you have to guess the characters of the movie what it would be by clicking the Alphabets.<br/>
							For each wrong alphabet selected a character from the word "Hollywood" will be highlighted which is your life-points. Which makes a total of 9 Life-points.<br/>
							Well good luck and enjoy<br/>
							.</h4>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div> <!-- Angular new Game Hangman Finish -->

	<div class="col-md-6 col-xs-12 col-lg-6 flip-container">
		<div class="project f1_container">
			<span class="icon" title="Click me for more Info.">
				<span class="glyphicon glyphicon-info-sign"></span>
			</span>
			<a class="f1_card" href="projects/livechat/" target="_blank">
				<div class="front face">
					<img src="img/projects/livechat.jpg" class="featurette-image img-responsive" alt="500x300">
				</div>
				<div class="back face">
					<div class="overlay">
						<div class="text-data">
							<h3>Live Chat (Online chat)</h3>
							<h4>
								<div class="languagesUsed"><span>Languages Used:</span>
									<label class="label label-success">HTML5</label>
									<label class="label label-info">CSS3</label>
									<label class="label label-info">BootStrap</label>
									<label class="label label-warning">JavaScript</label>
									<label class="label label-warning">Angular 1</label>
									<label class="label label-warning">Firebase</label>
								</div><br/>
							This live chat is an open source application to create and demo a simple chat application. <br/>
								Any user is able to chat as well as code and also if wanted he can clone the code too.
								<br/>
								Frameworks used: HTML5, CSS3, Bootstrap, AngularJS 1, Firebase, etc.
							</h4>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div> <!-- Angular Live chat App Finish -->

	<div class="col-md-6 col-xs-12 col-lg-6 flip-container">
		<div class="project f1_container">
			<span class="icon" title="Click me for more Info.">
				<span class="glyphicon glyphicon-info-sign"></span>
			</span>
			<a class="f1_card" href="projects/quiz/#/quiz" target="_blank">
				<div class="front face">
					<img src="img/projects/angular_quiz.jpg" class="featurette-image img-responsive" alt="500x300">
				</div>
				<div class="back face">
					<div class="overlay">
						<div class="text-data">
							<h3>Angular Quiz</h3>
							<h4>
								<div class="languagesUsed"><span>Languages Used:</span>
									<label class="label label-success">HTML5</label>
									<label class="label label-info">CSS3</label>
									<label class="label label-info">BootStrap</label>
									<label class="label label-warning">JavaScript</label>
									<label class="label label-warning">Angular 1</label>
								</div><br/>
							Angular quiz is an interesting quiz where you can choose the number of questions you like and also each time you start the quiz you will get a random question.<br/><br/>
							The biggest benefit of this quiz is, all of your questions and answers are shown with the score in the end and in which question you lag the result with clearify it.
								<br/>
								Frameworks used: HTML5, CSS3, Bootstrap, JavaScript, AngularJS 1, etc.
							</h4>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div> <!-- Angular Quiz Game Finish -->

	<div class="col-md-6 col-xs-12 col-lg-6 flip-container">
		<div class="project f1_container">
			<span class="icon" title="Click me for more Info.">
				<span class="glyphicon glyphicon-info-sign"></span>
			</span>
			<a class="f1_card" href="projects/myKart/index.html" target="_blank">
				<div class="front face">
					<img src="img/projects/myKart.jpg" class="featurette-image img-responsive" alt="500x300">
				</div>
				<div class="back face">
					<div class="overlay">
						<div class="text-data">
							<h3>My Kart (Shopping Site - Demo)</h3>
							<h4>
								<div class="languagesUsed"><span>Languages Used:</span>
									<label class="label label-success">HTML5</label>
									<label class="label label-info">CSS3</label>
									<label class="label label-info">BootStrap</label>
									<label class="label label-warning">JavaScript</label>
									<label class="label label-warning">Angular 1</label>
								</div><br/>
							This is a Small Shopping Site demo, Created in 1-Day. This is quite simple and yet powerful. <br/> </h4>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div> <!-- Angular My Cart Finish -->

	<div class="col-md-6 col-xs-12 col-lg-6 flip-container">
		<div class="project f1_container">
			<span class="icon" title="Click me for more Info.">
				<span class="glyphicon glyphicon-info-sign"></span>
			</span>
			<a class="f1_card" href="projects/Ang_Kiosk_Demo/index.html" target="_blank">
				<div class="front face">
					<img src="img/projects/order_mgmt.jpg" class="featurette-image img-responsive" alt="500x300">
				</div>
				<div class="back face">
					<div class="overlay">
						<div class="text-data">
							<h3>Order Management Demo</h3>
							<h4>
								<div class="languagesUsed"><span>Languages Used:</span>
									<label class="label label-success">HTML5</label>
									<label class="label label-info">CSS3</label>
									<label class="label label-info">BootStrap</label>
									<label class="label label-warning">JavaScript</label>
									<label class="label label-warning">Angular 1</label>
									<label class="label label-warning">jQuery</label>
								</div><br/>
							This demo represents 3 Counters. <br/>Order Counter, Kitchen Counter and Display Order Counter.</h4>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div> <!-- Angular Order Management Demo Finish -->

	<div class="col-md-6 col-xs-12 col-lg-6 flip-container">
		<div class="project f1_container">
			<span class="icon" title="Click me for more Info.">
				<span class="glyphicon glyphicon-info-sign"></span>
			</span>
			<a class="f1_card" href="projects/Attendance_Mgmt_System/index.html" target="_blank">
				<div class="front face">
					<img src="img/projects/attendance_mgmt_system.jpg" class="featurette-image img-responsive" alt="500x300">
				</div>
				<div class="back face">
					<div class="overlay">
						<div class="text-data">
							<h3>Attendance Management System</h3>
							<h4>
								<div class="languagesUsed"><span>Languages Used:</span>
									<label class="label label-success">HTML5</label>
									<label class="label label-info">CSS3</label>
									<label class="label label-info">BootStrap</label>
									<label class="label label-warning">JavaScript</label>
									<label class="label label-warning">Angular 1</label>
									<label class="label label-warning">jQuery</label>
								</div><br/>
							This demo was created for Attendance of employees in a Company. Demo is generated using BARCODE System.</h4>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div> <!-- Angular Attendance Management System Finish -->

	<div class="col-md-6 col-xs-12 col-lg-6 flip-container">
		<div class="project f1_container">
			<span class="icon" title="Click me for more Info.">
				<span class="glyphicon glyphicon-info-sign"></span>
			</span>
			<a class="f1_card" href="javascript:alert('My current portfolio site')" target="_self">
				<div class="front face">
					<img src="img/projects/portfolio.jpg" class="featurette-image img-responsive" alt="500x300">
				</div>
				<div class="back face">
					<div class="overlay">
						<div class="text-data">
							<h3>My Portfolio</h3>
							<h4>
								<div class="languagesUsed"><span>Languages Used:</span>
									<label class="label label-success">HTML5</label>
									<label class="label label-info">CSS3</label>
									<label class="label label-info">BootStrap</label>
									<label class="label label-warning">JavaScript</label>
									<label class="label label-warning">Angular 1</label>
									<label class="label label-warning">jQuery</label>
								</div><br/>
								For representing me.</h4>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div> <!-- Angular Portfolio Finish --> 

	<div class="col-md-6 col-xs-12 col-lg-6 flip-container">
		<div class="project f1_container">
			<span class="icon" title="Click me for more Info.">
				<span class="glyphicon glyphicon-info-sign"></span>
			</span>
			<a class="f1_card" href="projects/Wall_poster/index.html" target="_blank">
				<div class="front face">
					<img src="img/projects/wallposter.jpg" class="featurette-image img-responsive" alt="500x300">
				</div>
				<div class="back face">
					<div class="overlay">
						<div class="text-data">
							<h3>Hall Decoration</h3>
							<h4>
								<div class="languagesUsed"><span>Languages Used:</span>
									<label class="label label-success">HTML5</label>
									<label class="label label-info">CSS3</label>
									<label class="label label-warning">JavaScript</label>
									<label class="label label-warning">Angular 1</label>
									<label class="label label-warning">jQuery</label>
								</div><br/>
							In this demo you can add objects to you hall and change the look n feel and see how it looks.</h4>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div> <!-- Angular Wall Poster Finish -->

	<div class="col-md-6 col-xs-12 col-lg-6 flip-container">
		<div class="project f1_container">
			<span class="icon" title="Click me for more Info.">
				<span class="glyphicon glyphicon-info-sign"></span>
			</span>
			<a class="f1_card" href="projects/Ang_Shell_Multiple_JSON/index.html" target="_blank">
				<div class="front face">
					<img src="img/projects/Ang_Multi_JSON_Load.jpg" class="featurette-image img-responsive" alt="500x300">
				</div>
				<div class="back face">
					<div class="overlay">
						<div class="text-data">
							<h3>Angular Multi JSON Load Demo</h3>
							<h4>
								<div class="languagesUsed"><span>Languages Used:</span>
									<label class="label label-success">HTML5</label>
									<label class="label label-info">CSS3</label>
									<label class="label label-info">BootStrap</label>
									<label class="label label-warning">JavaScript</label>
									<label class="label label-warning">Angular 1</label>
									<label class="label label-danger">JSON</label>
								</div><br/>
							This demo was created to explain how multiple JSON files are loaded on single AngularJS page.</h4>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div> <!-- Angular Multi JSON load Finish -->
	
	<div class="col-md-6 col-xs-12 col-lg-6 flip-container">
		<div class="project f1_container">
			<span class="icon" title="Click me for more Info.">
				<span class="glyphicon glyphicon-info-sign"></span>
			</span>
			<a class="f1_card" href="projects/Angular_Adv_Tutorial/index.html" target="_blank">
				<div class="front face">
					<img src="img/projects/Angular_Adv_Tutorial.jpg" class="featurette-image img-responsive" alt="500x300" />
				</div>
				<div class="back face">
					<div class="overlay">
						<div class="text-data">
							<h3>Angular Basic + Advance App</h3>
							<h4>
								<div class="languagesUsed"><span>Languages Used:</span>
									<label class="label label-success">HTML5</label>
									<label class="label label-info">CSS3</label>
									<label class="label label-info">BootStrap</label>
									<label class="label label-warning">JavaScript</label>
									<label class="label label-warning">Angular 1</label>
								</div><br/>
							This demo was created to explain details of AngularJS</h4>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div> <!-- Angular Basic Tutorials Finish -->
	
	<div class="col-md-6 col-xs-12 col-lg-6 flip-container">
		<div class="project f1_container">
			<span class="icon" title="Click me for more Info.">
				<span class="glyphicon glyphicon-info-sign"></span>
			</span>
			<a class="f1_card" href="projects/3D_SKY/index.html" target="_blank">
				<div class="front face">
					<img src="img/projects/3dsky.jpg" class="featurette-image img-responsive" alt="500x300">
				</div>
				<div class="back face">
					<div class="overlay">
						<div class="text-data">
							<h3>3D Skybox - Cubic Skybox and Reflection</h3>
							<h4>
								<div class="languagesUsed"><span>Languages Used:</span>
									<label class="label label-success">HTML5</label>
									<label class="label label-info">CSS3</label>
									<label class="label label-warning">JavaScript</label>
									<label class="label label-warning">jQuery</label>
									<label class="label label-primary">three.js</label>
								</div><br/>
							This demo uses WebGL which gives your browser a 3D Effect. This demo show a place which you can see in 360 Degree.</h4>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div> <!-- jQuery 3D Skybox Finish -->

	<div class="col-md-6 col-xs-12 col-lg-6 flip-container">
		<div class="project f1_container">
			<span class="icon" title="Click me for more Info.">
				<span class="glyphicon glyphicon-info-sign"></span>
			</span>
			<a class="f1_card" href="projects/3D_Box/index.html" target="_blank">
				<div class="front face">
					<img src="img/projects/3dbox.jpg" class="featurette-image img-responsive" alt="500x300">
				</div>
				<div class="back face">
					<div class="overlay">
						<div class="text-data">
							<h3>3D Auto Rotating Box</h3>
							<h4>
								<div class="languagesUsed"><span>Languages Used:</span>
									<label class="label label-success">HTML5</label>
									<label class="label label-info">CSS3</label>
									<label class="label label-warning">JavaScript</label>
									<label class="label label-warning">jQuery</label>
									<label class="label label-primary">three.js</label>
								</div><br/>
							Another demo of WebGL which gives an Auto Rotating Effect.</h4>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div> <!-- jQuery 3D Auto rotating box Finish -->

	<div class="col-md-6 col-xs-12 col-lg-6 flip-container">
		<div class="project f1_container">
			<span class="icon" title="Click me for more Info.">
				<span class="glyphicon glyphicon-info-sign"></span>
			</span>
			<a class="f1_card" href="projects/3D_Box_Self/index.html" target="_blank">
				<div class="front face">
					<img src="img/projects/3dbox_self.jpg" class="featurette-image img-responsive" alt="500x300">
				</div>
				<div class="back face">
					<div class="overlay">
						<div class="text-data">
							<h3>WebGL 360 Rotation</h3>
							<h4>
								<div class="languagesUsed"><span>Languages Used:</span>
									<label class="label label-success">HTML5</label>
									<label class="label label-info">CSS3</label>
									<label class="label label-warning">JavaScript</label>
									<label class="label label-warning">jQuery</label>
									<label class="label label-primary">three.js</label>
								</div><br/>
							This is too a demo on WebGL, in which you can rotate the box anyhow in anyway.</h4>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div> <!-- jQuery WebGL Finish -->

	<div class="col-md-6 col-xs-12 col-lg-6 flip-container">
		<div class="project f1_container">
			<span class="icon" title="Click me for more Info.">
				<span class="glyphicon glyphicon-info-sign"></span>
			</span>
			<!-- <a class="f1_card" href="http://www.knowledgekeen.in/ourprojects.php" target="_blank"> -->
			<a class="f1_card" href="javascript:alert('GIT cannot load PHP sites!!! \n\n Please fork my Portfolio on github.')" target="_blank">
				<div class="front face">
					<img src="img/projects/mrbs.jpg" class="featurette-image img-responsive" alt="500x300">
				</div>
				<div class="back face">
					<div class="overlay">
						<div class="text-data">
							<h3>Meeting Room Booking System</h3>
							<h4>
								<div class="languagesUsed"><span>Languages Used:</span>
									<label class="label label-success">HTML5</label>
									<label class="label label-info">CSS3</label>
									<label class="label label-info">BootStrap</label>
									<label class="label label-warning">JavaScript</label>
									<label class="label label-warning">jQuery</label>
								</div><br/>
							This is an Complete application for booking an Meeting Room + Responsive.</h4>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div> <!-- jQuery Meeting Room Booking System Finish -->

	<div class="col-md-6 col-xs-12 col-lg-6 flip-container">
		<div class="project f1_container">
			<span class="icon" title="Click me for more Info.">
				<span class="glyphicon glyphicon-info-sign"></span>
			</span>
			<a class="f1_card" href="projects/tictactoe/index.html" target="_blank">
				<div class="front face">
					<img src="img/projects/tictactoe.jpg" class="featurette-image img-responsive" alt="500x300">
				</div>
				<div class="back face">
					<div class="overlay">
						<div class="text-data">
							<h3>Tic Tac Toe</h3>
							<h4>
								<div class="languagesUsed"><span>Languages Used:</span>
									<label class="label label-success">HTML5</label>
									<label class="label label-info">CSS3</label>
									<label class="label label-warning">JavaScript</label>
									<label class="label label-warning">jQuery</label>
								</div><br/>
							This is a Game of Tic Tac Toe, Play and Enjoy.</h4>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div> <!-- jQuery Tic Tac Toe Finish -->

	<div class="col-md-6 col-xs-12 col-lg-6 flip-container">
		<div class="project f1_container">
			<span class="icon" title="Click me for more Info.">
				<span class="glyphicon glyphicon-info-sign"></span>
			</span>
			<!-- <a class="f1_card" href="projects/kids_games/index.php" target="_blank"> -->
			<a class="f1_card" href="javascript:alert('GIT cannot load PHP sites!!! \n\n Please fork my Portfolio on github.')" target="_blank">
				<div class="front face">
					<img src="img/projects/kids_games.jpg" class="featurette-image img-responsive" alt="500x300">
				</div>
				<div class="back face">
					<div class="overlay">
						<div class="text-data">
							<h3>Junior Games Demo</h3>
							<h4>
								<div class="languagesUsed"><span>Languages Used:</span>
									<label class="label label-success">HTML5</label>
									<label class="label label-info">CSS3</label>
									<label class="label label-info">BootStrap</label>
									<label class="label label-warning">JavaScript</label>
									<label class="label label-warning">jQuery</label>
									<label class="label label-danger">JSON</label>
								</div><br/>
							This demo represents games for kids. <br/>This demo was actually created for showing the audio and text synchronization.</h4>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div> <!-- jQuery Junior Games Finish -->

	<div class="col-md-6 col-xs-12 col-lg-6 flip-container">
		<div class="project f1_container">
			<span class="icon" title="Click me for more Info.">
				<span class="glyphicon glyphicon-info-sign"></span>
			</span>
			<a class="f1_card" href="projects/annotation/index.html" target="_blank">
				<div class="front face">
					<img src="img/projects/annotation.jpg" class="featurette-image img-responsive" alt="500x300">
				</div>
				<div class="back face">
					<div class="overlay">
						<div class="text-data">
							<h3>Canvas Annotations</h3>
							<h4>
								<div class="languagesUsed"><span>Languages Used:</span>
									<label class="label label-success">HTML5</label>
									<label class="label label-info">CSS3</label>
									<label class="label label-warning">JavaScript</label>
									<label class="label label-warning">jQuery</label>
									<label class="label label-warning">fabric.js</label>
								</div><br/>
							A Best example on what we can do with HTML5 Canvas.</h4>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div> <!-- jQuery Canvas Annotations Finish -->

	<div class="col-md-6 col-xs-12 col-lg-6 flip-container">
		<div class="project f1_container">
			<span class="icon" title="Click me for more Info.">
				<span class="glyphicon glyphicon-info-sign"></span>
			</span>
			<a class="f1_card" href="projects/Z_index_Slider/index.html" target="_blank">
				<div class="front face">
					<img src="img/projects/z_index_slider.jpg" class="featurette-image img-responsive" alt="500x300">
				</div>
				<div class="back face">
					<div class="overlay">
						<div class="text-data">
							<h3>Z-Index Slider</h3>
							<h4>
								<div class="languagesUsed"><span>Languages Used:</span>
									<label class="label label-success">HTML5</label>
									<label class="label label-info">CSS3</label>
									<label class="label label-warning">JavaScript</label>
									<label class="label label-warning">jQuery</label>
								</div><br/>
							This is purely an jQuery Slider, which works on Z-Index.</h4>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div> <!-- jQuery Z-Index Slider Finish -->

	<div class="col-md-6 col-xs-12 col-lg-6 flip-container">
		<div class="project f1_container">
			<span class="icon" title="Click me for more Info.">
				<span class="glyphicon glyphicon-info-sign"></span>
			</span>
			<a class="f1_card" href="projects/schedular/index.html" target="_blank">
				<div class="front face">
					<img src="img/projects/schedular.jpg" class="featurette-image img-responsive" alt="500x300">
				</div>
				<div class="back face">
					<div class="overlay">
						<div class="text-data">
							<h3>Scheduler</h3>
							<h4>
								<div class="languagesUsed"><span>Languages Used:</span>
									<label class="label label-success">HTML5</label>
									<label class="label label-info">CSS3</label>
									<label class="label label-warning">JavaScript</label>
									<label class="label label-warning">jQuery</label>
								</div><br/>
							A Scheduler which reminds you whatever you want.</h4>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div> <!-- jQuery Scheduler Finish -->
	
	<div class="col-md-6 col-xs-12 col-lg-6 flip-container">
		<div class="project f1_container">
			<span class="icon" title="Click me for more Info.">
				<span class="glyphicon glyphicon-info-sign"></span>
			</span>
			<!-- <a class="f1_card" href="projects/Photo_Gallery/index.php" target="_blank"> -->
			<a class="f1_card" href="javascript:alert('GIT cannot load PHP sites!!! \n\n Please fork my Portfolio on github.')" target="_blank">
				<div class="front face">
					<img src="img/projects/photogallery.jpg" class="featurette-image img-responsive" alt="500x300">
				</div>
				<div class="back face">
					<div class="overlay">
						<div class="text-data">
							<h3>Photo Gallery</h3>
							<h4>
								<div class="languagesUsed"><span>Languages Used:</span>
									<label class="label label-success">HTML5</label>
									<label class="label label-info">CSS3</label>
									<label class="label label-info">BootStrap</label>
									<label class="label label-warning">JavaScript</label>
									<label class="label label-warning">jQuery</label>
									<label class="label label-warning">jQuery lightbox</label>
								</div><br/>
							This is a very simple and responsive photo Gallery, with a responsive slider overhead.</h4>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div> <!-- jQuery Photo Gallery Finish -->

	<div class="col-md-6 col-xs-12 col-lg-6 flip-container">
		<div class="project f1_container">
			<span class="icon" title="Click me for more Info.">
				<span class="glyphicon glyphicon-info-sign"></span>
			</span>
			<a class="f1_card" href="projects/flipQuiz/index.html" target="_blank">
				<div class="front face">
					<img src="img/projects/flipQuiz.jpg" class="featurette-image img-responsive" alt="500x300">
				</div>
				<div class="back face">
					<div class="overlay">
						<div class="text-data">
							<h3>Flip Quiz Demo</h3>
							<h4>
								<div class="languagesUsed"><span>Languages Used:</span>
									<label class="label label-success">HTML5</label>
									<label class="label label-info">CSS3</label>
									<label class="label label-info">BootStrap</label>
									<label class="label label-warning">JavaScript</label>
									<label class="label label-warning">jQuery</label>
								</div><br/>
							This is a Quiz Demo, Responsive one, and gives an nice turning effect for every question.</h4>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div> <!-- jQuery Flip Quiz Finish -->

	<div class="col-md-6 col-xs-12 col-lg-6 flip-container">
		<div class="project f1_container">
			<span class="icon" title="Click me for more Info.">
				<span class="glyphicon glyphicon-info-sign"></span>
			</span>
			<!-- <a class="f1_card" href="projects/Enc_Dec/index.php" target="_blank"> -->
			<a class="f1_card" href="javascript:alert('GIT cannot load PHP sites!!! \n\n Please fork my Portfolio on github.')" target="_blank">
				<div class="front face">
					<img src="img/projects/encryption.jpg" class="featurette-image img-responsive" alt="500x300">
				</div>
				<div class="back face">
					<div class="overlay">
						<div class="text-data">
							<h3>PHP Encryption Tool</h3>
							<h4>
								<div class="languagesUsed"><span>Languages Used:</span>
									<label class="label label-success">HTML5</label>
									<label class="label label-warning">JavaScript</label>
									<label class="label label-warning">jQuery</label>
									<label class="label label-default">PHP</label>
								</div><br/>
							This is PHP Encryption Tool, which converts a simple string into Base64 encrypted cypher text.</h4>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>	<!-- jQuery PHP Encryption Finish -->

	<div class="col-md-6 col-xs-12 col-lg-6 flip-container">
		<div class="project f1_container">
			<span class="icon" title="Click me for more Info.">
				<span class="glyphicon glyphicon-info-sign"></span>
			</span>
			<a class="f1_card" href="projects/KBC/index.html" target="_blank">
				<div class="front face">
					<img src="img/projects/KBC.jpg" class="featurette-image img-responsive" alt="500x300">
				</div>
				<div class="back face">
					<div class="overlay">
						<div class="text-data">
							<h3>Questionnaire</h3>
							<h4>
								<div class="languagesUsed"><span>Languages Used:</span>
									<label class="label label-success">HTML5</label>
									<label class="label label-info">CSS3</label>
									<label class="label label-warning">JavaScript</label>
									<label class="label label-warning">jQuery</label>
								</div><br/>
							This demo was created to explain details of AngularJS</h4>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div> <!-- jQuery Questionaire Finish -->

	<div class="col-md-6 col-xs-12 col-lg-6 flip-container">
		<div class="project f1_container">
			<span class="icon" title="Click me for more Info.">
				<span class="glyphicon glyphicon-info-sign"></span>
			</span>
			<a class="f1_card" href="projects/jQuery_Shell_Multiple_JSON/index.html" target="_blank">
				<div class="front face">
					<img src="img/projects/jQuery_Multi_JSON_Load.jpg" class="featurette-image img-responsive" alt="500x300">
				</div>
				<div class="back face">
					<div class="overlay">
						<div class="text-data">
							<h3>jQuery Multi JSON Load Demo</h3>
							<h4>
								<div class="languagesUsed"><span>Languages Used:</span>
									<label class="label label-success">HTML5</label>
									<label class="label label-info">CSS3</label>
									<label class="label label-info">BootStrap</label>
									<label class="label label-warning">JavaScript</label>
									<label class="label label-danger">JSON</label>
								</div><br/>
							This demo was created to explain how multiple JSON files are loaded on single jQuery page.</h4>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div> <!-- jQuery Multi JSON load Finish -->
	
	<div class="col-md-6 col-xs-12 col-lg-6 flip-container">
		<div class="project f1_container">
			<span class="icon" title="Click me for more Info.">
				<span class="glyphicon glyphicon-info-sign"></span>
			</span>
			<!-- <a class="f1_card" href="projects/EditableBrowser/index.php" target="_blank"> -->
			<a class="f1_card" href="javascript:alert('GIT cannot load PHP sites!!! \n\n Please fork my Portfolio on github.')" target="_blank">
				<div class="front face">
					<img src="img/projects/editablecontent.jpg" class="featurette-image img-responsive" alt="500x300">
				</div>
				<div class="back face">
					<div class="overlay">
						<div class="text-data">
					<h3>Editable Content On Browser</h3>
					<h4>
								<div class="languagesUsed"><span>Languages Used:</span>
									<label class="label label-success">HTML5</label>
									<label class="label label-info">CSS3</label>
									<label class="label label-warning">JavaScript</label>
									<label class="label label-warning">jQuery</label>
								</div><br/>
					This demo was created to show how we can edit contents on browser without using any Text-box or Text-area.</h4>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div> <!-- jQuery Editable Content Browser -->

	<div class="col-md-6 col-xs-12 col-lg-6 flip-container">
		<div class="project f1_container">
			<span class="icon" title="Click me for more Info.">
				<span class="glyphicon glyphicon-info-sign"></span>
			</span>
			<a class="f1_card" href="projects/analogclock/index.html" target="_blank">
				<div class="front face">
					<img src="img/projects/analogclock.jpg" class="featurette-image img-responsive" alt="500x300">
				</div>
				<div class="back face">
					<div class="overlay">
						<div class="text-data">
							<h3>Analog clock</h3>
							<h4>
								<div class="languagesUsed"><span>Languages Used:</span>
									<label class="label label-success">HTML5</label>
									<label class="label label-warning">JavaScript</label>
								</div><br/>
							This is a small demo to show your current PC time in Analog style.</h4>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div> <!-- JavaScript Analog Clock Finish -->
	
</div> <!-- Container Wrapper Finish -->

<div class="container popContainer">
	<div class="col-lg-12 popupWrapper">
		<div id="popupHeader" class="alert alert-success popupHeader">
			<strong>Information</strong>
			<span id="btn-close-popup" class="badge btn-danger">X</span>
		</div>
		<div class="alert alert-warning popupContent" role="alert">Content</div>
	</div>
</div>
<script src="js/Controllers/projects.js"></script>

<!-- Extra removed containers (DNS down) -->
<!-- <div class="col-md-6 col-xs-12 col-lg-6 flip-container">
	<div class="project f1_container">
		<span class="icon" title="Click me for more Info.">
			<span class="glyphicon glyphicon-info-sign"></span>
		</span>
		<a class="f1_card" href="projects/parallax/index.html" target="_blank">
			<div class="front face">
				<img src="img/projects/parallax.jpg" class="featurette-image img-responsive" alt="500x300">
			</div>
			<div class="back face">
				<div class="overlay">
					<div class="text-data">
						<h3>Parallax Demo</h3>
						<h4>A Self made dummy parallax demo.</h4>
					</div>
				</div>
			</div>
		</a>
	</div>
</div> -->

<!-- <div class="col-md-6 col-xs-12 col-lg-6 flip-container">
	<div class="project f1_container">
		<span class="icon" title="Click me for more Info.">
			<span class="glyphicon glyphicon-info-sign"></span>
		</span>
		<!-- <a class="f1_card" href="http://www.knowledgekeen.in/tutorial/html5/index.php" target="_blank"> 
		<a class="f1_card" href="javascript:alert('GIT cannot load PHP sites!!! \n\n Please fork my Portfolio on github.')" target="_blank">
			<div class="front face">
				<img src="img/projects/kktutorial.jpg" class="featurette-image img-responsive" alt="500x300">
			</div>
			<div class="back face">
				<div class="overlay">
					<div class="text-data">
						<h3>HTML5 Tutorial Site</h3>
						<h4>In this site you will observe all the latest and important points of HTML5 and also some examples created by ME.Please go ahead and read.</h4>
					</div>
				</div>
			</div>
		</a>
	</div>
</div> -->

<!-- <div class="col-md-6 col-xs-12 col-lg-6 flip-container">
	<div class="project f1_container">
		<span class="icon" title="Click me for more Info.">
			<span class="glyphicon glyphicon-info-sign"></span>
		</span>
		<a class="f1_card" href="http://www.knowledgekeen.in" target="_blank">
			<div class="front face">
				<img src="img/projects/knowledgekeen.jpg" class="featurette-image img-responsive" alt="500x300">
			</div>
			<div class="back face">
				<div class="overlay">
					<div class="text-data">
						<h3>Knowledge Keen Site</h3>
						<h4>This site is designed and developed by Me.</h4>
					</div>
				</div>
			</div>
		</a>
	</div>
</div> -->

<!-- <div class="col-md-6 col-xs-12 col-lg-6 flip-container">
	<div class="project f1_container">
		<span class="icon" title="Click me for more Info.">
			<span class="glyphicon glyphicon-info-sign"></span>
		</span>
		<a class="f1_card" href="http://www.blog.knowledgekeen.in" target="_blank">
			<div class="front face">
				<img src="img/projects/kkblog.jpg" class="featurette-image img-responsive" alt="500x300">
			</div>
			<div class="back face">
				<div class="overlay">
					<div class="text-data">
						<h3>Knowledge Keen Blog</h3>
						<h4>My Blog for those who keen for knowledge.</h4>
					</div>
				</div>
			</div>
		</a>
	</div>
</div> -->
