<div class="container" style="background:#fff">
	<h4><strong>Basics of AngularJS</strong></h4>
	<ul class="list-group">
		<li class="list-group-item"><strong><u>What is AngularJS?<br></u></strong> <br>AngularJS is a <strong>JavaScript framework</strong>. It can be added to an HTML page with a &lt;script&gt; tag.</p>
			<p> &lt;script type="text/javascript" src="/abc/js/angular.js"&gt;&lt;/script&gt;
			<p>AngularJS extends HTML attributes with <strong>Directives</strong>, and binds data to HTML with <strong>Expressions</strong>.</p>
		</li><br>
		
		<h4><strong>Basic concepts you learn in this Tutorial</strong></h4>
		<li class="list-group-item">
			<ul>
				<li>Two Way Data Binding</li>
				<li>Localization</li>
				<li>ng Grid</li>
				<li>Example : Custom Service/ Directive</li>
				<li>Interceptors</li>
			</ul>
		</li><br>
		
		<h4><strong>Some other sites to know more about AngularJS</strong></h4>
		
		<li class="list-group-item">
			<p> Learn more on AngularJS from <a href="https://docs.angularjs.org/tutorial/step_00" target="_blank">https://docs.angularjs.org/tutorial/step_00</a></p>
			<p> Learn to build an application using Angular.js <a href="http://campus.codeschool.com/courses/shaping-up-with-angular-js/intro" target="_blank">http://campus.codeschool.com/courses/shaping-up-with-angular-js/intro</a></p>
			<p> Youtube video on AngularJS : <a href="https://www.youtube.com/embed/i9MHigUZKEM" target="_blank">https://www.youtube.com/embed/i9MHigUZKEM</a></p>
		</li><br>
		
	</ul>
</div>

