<div class="col-md-12 col-sm-12 col-xs-12 searchContainer" ng-controller="QuizController">
	<div class="col-md-12" ng-hide="showQuestionContainer">
		<center>
		<h2 class="text-danger">Let's Begin</h2>
		<!-- <h3 class="text-primary">Select difficulty level for the test</h3><br/> -->
		<label>Select number of questions: <select ng-model="selectQuestions">
			<option>10</option>
			<option>20</option>
			<option>30</option>
			<option>40</option>
		</select><br/><br/>
		<button type="button" ng-click="startQuiz('beginner');" class="btn btn-lg btn-info" ng-disabled="!selectQuestions" title="{{titleText}}">Start Quiz</button>
		<!-- <button type="button" ng-click="startQuiz('beginner');" class="btn btn-info">Beginner</button>
		<button type="button" ng-click="startQuiz('intermediate');" class="btn btn-success" disabled>Intermediate</button>
		<button type="button" ng-click="startQuiz('advanced');" class="btn btn-danger" disabled>Advanced</button> -->
		</center>
		<br/>
		<br/>
		<br/>
		<strong>Notes:</strong> 
		<ol>
			<li>There are <strong class="text-danger"><span ng-if="!selectQuestions">-</span>{{selectQuestions}}</strong> mandatory questions</li>
			<li>No negative marking</li>
			<li>Each correct answer will give you a "+1" point.</li>
			<li>Result will be declared at the end.</li>
		</ol>
	</div>

	<div class="col-md-12" ng-show="showQuestionContainer">

		<div class="col-md-12 QuestionWrapper">
			<h4>{{questionCnt+1}}. {{currQuestion.QuesText}}</h4>
		</div>
		<div class="col-md-12 OptionWrapper">
			<div class="row">
				<div class="col-md-5" ng-click="selectOption(1);" ng-class="{'selected':selOpt==1}"><strong>A. {{currQuestion.Opt1}}</strong></div>
				<div class="col-md-2 noBg"></div>
				<div class="col-md-5" ng-click="selectOption(2);" ng-class="{'selected':selOpt==2}"><strong>B. {{currQuestion.Opt2}}</strong></div>
			</div>
			<div class="row">
				<div class="col-md-5" ng-click="selectOption(3);" ng-class="{'selected':selOpt==3}" ng-hide="currQuestion.Opt3==undefined"><strong>C. {{currQuestion.Opt3}}</strong></div>
				<div class="col-md-2 noBg"></div>
				<div class="col-md-5" ng-click="selectOption(4);" ng-class="{'selected':selOpt==4}" ng-hide="currQuestion.Opt4==undefined"><strong>D. {{currQuestion.Opt4}}</strong></div>
			</div>
		</div>
	</div>

	<div class="col-md-12" ng-show="showQuestionContainer">
		<br/>
		<div class="col-md-4">
			<button type="button" ng-click="nextQuestion();" class="btn btn-primary" ng-disabled="selOpt==0">Next</button>
		</div>
	</div>
</div>