<div class="container">
<div class='col-md-11'>
	<br/>
	<button class="btn btn-sm btn-primary" ng-click="blogdetctrl.goToAllBlogs()"><i class="fa fa-reply" aria-hidden="true"></i> Go back</button>
</div>
<div class='col-md-1'>
	<login-directive></login-directive>
</div>

<div class='col-md-12' ng-if="blogdetctrl.blogdata.length<=0">
	<h4 class="text-primary">
		<i class="fa fa-pulse fa-spinner"></i> Please wait, loading blogs...
	</h4>
</div>

<div class="col-md-12" ng-repeat="blog in blogdetctrl.blogdata track by $index">
	<h3 class="text-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{blog.title}}</h3>
	<h5 class="text-warning"><strong class="floatRight" style="margin-top:-25px">{{blog.blogdate | date: 'dd-MM-yyyy HH:mm'}}</strong></h5>
	<hr/>
	<output class="preview-wrapper" ng-bind-html="blog.content"></output>
</div>

</div>