body{
	padding:10px 0px;
}

.stage{
    height: 70px;
    left: 0;
    margin-left: 10px;
    margin-top: 20px;
    position: fixed;
    top: 60px;
    width: 70px;
    z-index: 111;
}

.stageForBlack{
    height: 70px;
    left: 0;
    margin-left: 10px;
    margin-top: 20px;
    position: fixed;
    top: 200px;
    width: 70px;
    z-index: 111;
}

.btn-roll-dice{
    position: fixed;
    top: 170px;
    left: 10px;
}

.playerQue{
	margin: 0 auto;
	height: 30px;
    width: 30px;
    border-radius: 50px;
	position:absolute;
	background: rgba(0,255,255,0.6);
}

.playerQue.player1{
	background: rgba(255,0,0,0.6);
    top: 5px;
    left: 3px;
}

.playerQue.player2{
	background: rgba(0,255,0,0.6);
    top: 5px;
    left: 37px;
}

.playerQue.player3{
	background: rgba(0,0,255,0.6);
    top: 37px;
    left: 3px;
}

.playerQue.player4{
	background: rgba(0,0,0,0.6);
    top: 37px;
    left: 37px;
}

.nav li a img{
	height:20px;
	width:20px;
}

.nav li a{
	font-weight:bold;
}

/* Steps Styling Start */
.step{
	height: 70px;
    width: 70px;
    margin: 10px;
    box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
	text-align:center;
	font-size:0.9em;
	padding-top: 17px;
	font-weight:bold;
	position:relative;
}

.step.horizontal{
	float: left;
}

.step.horizontalRight{
	float: right;
}

.step.verticalRight{
	float:right;
}

.step.verticalLeft{
	float:left;
}

.step.start{
	box-shadow: inset 0 0 20px rgba(255,0,0,0.2);
}

.step.end{
	box-shadow: inset 0 0 20px rgba(0, 255, 255,0.5);
	background: url('../imgs/finish.png');
    background-size: 60% 60%;
    background-repeat: no-repeat;
    background-position: 13px 15px;
}
/* Steps Styling Ends */

/* Player Scoreboard Styling Starts */
.scoreboard{
    height: 130px;
    width: 120px;
    right: 10px;
    position: fixed;
    background: cornsilk;
    box-shadow: 0px 0px 10px #ccc;
    padding: 10px;
    text-align: center;
}

.player1_ScoreBoard{
    top: 60px;
}

.player2_ScoreBoard{
    top: 200px;
}

.player3_ScoreBoard{
    top: 340px;
}

.player4_ScoreBoard{
    top: 480px;
}

.scoreboard .playername{
	float:left;
	width:100%;
    text-decoration: underline;
    font-style: italic;
}

.scoreboardicon img{
	height:20px;
	width:20px;
}

.scoreboardicon{
	float:left;
	margin:2px;
}

.player_graph{
    height: 200px;
    width: 200px;
    margin-top: 10px;
    box-shadow: 0px 0px 10px #ccc;
    float: left;
	border-radius:10px;
    margin-left: 50px;
	cursor: pointer;
}

.player_graph:first-child{
	background:url('../imgs/shape1.png');
	background-size: 100% 100%;
}

.player_graph:last-child{
	background:url('../imgs/shape2.png');
	background-size: 100% 100%;
}

.player_graph.active{
	box-shadow: 0px 0px 20px rgba(0,0,255,0.4);
}

.modalface{
    position: relative;
    width: 70px;
    height: 70px;
    border: 1px solid #ccc;
    background: rgba(255,255,255,1);
    box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
    line-height: 70px;
    text-align: center;
    font-size: 40px;
    z-index: 1;
    float: left;
    margin-right: 10px;
}

.modalfaceBlack{
    position: relative;
    width: 70px;
    height: 70px;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
    line-height: 70px;
    text-align: center;
    font-size: 40px;
    z-index: 1;
    float: left;
    margin-right: 10px;
	background: #aaa;
	color:#fff;
}

.modalfaceBlack img{
	margin: 10px;
	height:50px;
	width:50px;
}

blockquote{
	font-size: inherit;
	margin:0 0 0px;
}

.modal-dialog{
	margin:0px auto;
}

.modal-body{
	height: 550px;
    overflow: auto;
}
/* Step Styling Ends */

/* Dice Styling Start */
@-webkit-keyframes spincube {
	from,to  { -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
	16%      { -webkit-transform: rotateY(-90deg);                           }
	33%      { -webkit-transform: rotateY(-90deg) rotateZ(90deg);            }
	50%      { -webkit-transform: rotateY(-180deg) rotateZ(90deg);           }
	66%      { -webkit-transform: rotateY(-270deg) rotateX(90deg);           }
	83%      { -webkit-transform: rotateX(90deg);                            }
}

@keyframes spincube {
	from,to {
	  -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	  -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
	}
	16% {
	  -moz-transform: rotateY(-90deg);
	  -ms-transform: rotateY(-90deg);
	  transform: rotateY(-90deg);
	}
	33% {
	  -moz-transform: rotateY(-90deg) rotateZ(90deg);
	  -ms-transform: rotateY(-90deg) rotateZ(90deg);
	  transform: rotateY(-90deg) rotateZ(90deg);
	}
	50% {
	  -moz-transform: rotateY(-180deg) rotateZ(90deg);
	  -ms-transform: rotateY(-180deg) rotateZ(90deg);
	  transform: rotateY(-180deg) rotateZ(90deg);
	}
	66% {
	  -moz-transform: rotateY(-270deg) rotateX(90deg);
	  -ms-transform: rotateY(-270deg) rotateX(90deg);
	  transform: rotateY(-270deg) rotateX(90deg);
	}
	83% {
	  -moz-transform: rotateX(90deg);
	  -ms-transform: rotateX(90deg);
	  transform: rotateX(90deg);
	}
}

.cubespinner {
	-webkit-animation-name: spincube;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 1.2s;

	animation-name: spincube;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-duration: 1.2s;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-transform-origin: 40px 40px 0;
	-moz-transform-origin: 40px 40px 0;
	-ms-transform-origin: 40px 40px 0;
	transform-origin: 40px 40px 0;
}

.face {
	position: absolute;
	width: 70px;
	height: 70px;
	border: 1px solid #ccc;
	background: rgba(255,255,255,1);
	box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
	line-height: 70px;
	text-align: center;
	font-size: 40px;
	z-index:1;
}

.cubespinner .face1 {
	-webkit-transform: translateZ(35px);
	-moz-transform: translateZ(35px);
	-ms-transform: translateZ(35px);
	transform: translateZ(35px);
}
.cubespinner .face2 {
	-webkit-transform: rotateY(90deg) translateZ(35px);
	-moz-transform: rotateY(90deg) translateZ(35px);
	-ms-transform: rotateY(90deg) translateZ(35px);
	transform: rotateY(90deg) translateZ(35px);
}
.cubespinner .face3 {
	-webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(35px);
	-moz-transform: rotateY(90deg) rotateX(90deg) translateZ(35px);
	-ms-transform: rotateY(90deg) rotateX(90deg) translateZ(35px);
	transform: rotateY(90deg) rotateX(90deg) translateZ(35px);
}
.cubespinner .face4 {
	-webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(35px);
	-moz-transform: rotateY(180deg) rotateZ(90deg) translateZ(35px);
	-ms-transform: rotateY(180deg) rotateZ(90deg) translateZ(35px);
	transform: rotateY(180deg) rotateZ(90deg) translateZ(35px);
}
.cubespinner .face5 {
	-webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(35px);
	-moz-transform: rotateY(-90deg) rotateZ(90deg) translateZ(35px);
	-ms-transform: rotateY(-90deg) rotateZ(90deg) translateZ(35px);
	transform: rotateY(-90deg) rotateZ(90deg) translateZ(35px);
}
.cubespinner .face6 {
	-webkit-transform: rotateX(-90deg) translateZ(35px);
	-moz-transform: rotateX(-90deg) translateZ(35px);
	-ms-transform: rotateX(-90deg) translateZ(35px);
	transform: rotateX(-90deg) translateZ(35px);
}

.cubeBlack{
	position: relative;
}

.cubeBlack .face{
	background: #aaa;
	color:#fff;
}

.cubeBlack img{
	margin: 10px;
	height:50px;
	width:50px;
}
/* Dice Styling Ends */
