.SearchUser .userdets{	
    font-size: 12px;
    background: #f0f8ff;
    padding: 10px;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.SearchUser .userdets img{
	border:1px solid #cccccc;
	float:left;
}
.SearchUser .userdets .usertext{
    margin-left: 10px;
    margin-top: 10px;
    display: inline-block;
    vertical-align: top;
}

.SearchUser .user-profile-pic-small {
	border:1px solid #cccccc;
	padding: 10px;
	height: 80px;
	width: 80px;
    display: inline-block;
	position:relative;
}