<!DOCTYPE html>
<html lang="en" ng-app="Hangman">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hang Man</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/hangman.css" rel="stylesheet">
    </head>

  <body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
		<div class="col-md-12">
			<div class="navbar-header col-md-6">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			  </button>
			  <a class="navbar-brand" href="#">Hang Man</a>
			</div>
		  </div>
      </div>
    </nav>

	<div class="container mainWrapper" ng-controller="HangmanController as hangmanctrl">
		<div class="col-md-12" ng-show="hangmanctrl.firstScreen">
			<h3>
			<div class="col-md-3">Enter Name of Movie:<h6>(with spaces)</h6> </div>
			<div class="col-md-8">
				<input type="password" ng-model="hangmanctrl.movienm" class="form-control" />
			</div>
			</h3>
		<div class="col-md-12">
			<br/>
			<button class="btn btn-lg btn-info" type="button" ng-click="hangmanctrl.startGame()" ng-disabled="!hangmanctrl.movienm">Start Game</button>
		</div>
		</div>

		<div class="col-md-12" ng-show="!hangmanctrl.firstScreen">
			<h2>
				<label class="label" ng-repeat="wrongChar in hangmanctrl.wrongChar"><span class="text-warning">{{wrongChar | uppercase}}</span></label>
			</h2>
		</div>
		<div class="col-md-12" ng-show="!hangmanctrl.firstScreen">
			<h2>
				<label class="label" ng-class="{'label-danger':hangmanctrl.wrongAnsCnt>=1,'label-primary':hangmanctrl.wrongAnsCnt<=0}">H</label>
				<label class="label" ng-class="{'label-danger':hangmanctrl.wrongAnsCnt>=2,'label-primary':hangmanctrl.wrongAnsCnt<=1}">O</label>
				<label class="label" ng-class="{'label-danger':hangmanctrl.wrongAnsCnt>=3,'label-primary':hangmanctrl.wrongAnsCnt<=2}">L</label>
				<label class="label" ng-class="{'label-danger':hangmanctrl.wrongAnsCnt>=4,'label-primary':hangmanctrl.wrongAnsCnt<=3}">L</label>
				<label class="label" ng-class="{'label-danger':hangmanctrl.wrongAnsCnt>=5,'label-primary':hangmanctrl.wrongAnsCnt<=4}">Y</label>
				<label class="label" ng-class="{'label-danger':hangmanctrl.wrongAnsCnt>=6,'label-primary':hangmanctrl.wrongAnsCnt<=5}">W</label>
				<label class="label" ng-class="{'label-danger':hangmanctrl.wrongAnsCnt>=7,'label-primary':hangmanctrl.wrongAnsCnt<=6}">O</label>
				<label class="label" ng-class="{'label-danger':hangmanctrl.wrongAnsCnt>=8,'label-primary':hangmanctrl.wrongAnsCnt<=7}">O</label>
				<label class="label" ng-class="{'label-danger':hangmanctrl.wrongAnsCnt>=9,'label-primary':hangmanctrl.wrongAnsCnt<=8}">D</label>
				<button type="button" class="btn btn-sm btn-warning btn-reload" ng-click="hangmanctrl.reloadApp()">Reload</button>
			</h2>
			<br/>
		</div>
		
		<div class="col-md-12" ng-show="hangmanctrl.gameLost">
			<h1 class="text-success">Movie name: {{hangmanctrl.movienm}}</h1>
		</div>

		<div class="col-md-12" ng-show="!hangmanctrl.firstScreen">
			<br/>
			<label class="label label-lg label-movieName" ng-repeat="movieChar in hangmanctrl.movieNameArray track by $index" ng-class="{'label-spaceCharacter':movieChar.character==' '}">				
				{{movieChar.show==true?movieChar.character:'' | uppercase}}
			</label>
		</div>

		<div class="col-md-12" ng-show="!hangmanctrl.firstScreen">
			<br/>
			<button class="btn btn-success btn-alphabets" ng-repeat="chars in hangmanctrl.toGuessCharacters track by $index" type="button" ng-click="hangmanctrl.charClicked(chars.charVal)" ng-disabled="chars.disabledChar">
				{{chars.charVal}}
			</button>
		</div>
	
	<div class="col-md-12" ng-show="hangmanctrl.firstScreen">
	<br/>
		<h4 class="text-danger">Rules:</h4>
			<ul>
				<li>Let the opponent add a movie name of his choice.</li>
				<li>And then start the game by clicking "Start Game" button.</li>
				<li>Later you have to guess the characters of the movie what it would be by clicking the Alphabets.</li>
				<li>For each wrong alphabet selected a character from the word  "Hollywood" will be highlighted which is your life-points. Which makes a total of 9 Life-points.</li>
				<li>Well good luck and enjoy</li>
			</ul>
	</div>
</div>

	<script src="js/libs/jquery-1.11.3.min.js"></script>
    <script src="js/libs/bootstrap.min.js"></script>
    <script src="js/libs/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/hangmancontroller.js"></script>
    <script src="js/services/movewordstoarray.js"></script>
    <script src="js/services/allalphabets.js"></script>
  </body>
</html>
