<div class="col-md-12 LeaveProject">
	<div class="container">
		<div class="col-md-12 row">
			<h4 class="text-primary">Leave Project</h4>
			<hr/>
		</div>

		<div class="col-md-12 row">
			<h4><button class="text-info btn btn-sm btn-primary" ng-if="leavePrjCtrl.userprojects.length != 0">Total Projects: 
				<span class="badge">{{leavePrjCtrl.userprojects.length}}</span>
				<span class="badge" ng-if="leavePrjCtrl.userprojects == null"><i class="fa fa-spinner fa-pulse fa-1x fa-fw"></i></span>
			</button></h4>
			<table class="table table-striped">
				<thead>
				  <tr align="center">
					<th>#</th>
					<th>Project name</th>
					<th>Project admin</th>
					<th>Members</th>
					<th>Leave project</th>
				  </tr>
				</thead>
				<tbody>
				  <tr ng-repeat="prj in leavePrjCtrl.userprojects">
					<td>{{$index+1}}</td>
					<td>{{prj.projName}}</td>
					<td>{{prj.userFullName}}</td>
					<td>{{prj.users}}</td>
					<td>
						<button class="btn btn-sm btn-danger" ng-if="prj.projId!=1" ng-click="leavePrjCtrl.leaveProject(prj)">
							<i class="fa fa-plane" aria-hidden="true"></i> Leave Project
						</button>
					</td>
				  </tr>
				</tbody>
			  </table>
		</div>
	</div>
	

	<div class="overlay" ng-show="leavePrjCtrl.leaveProjectFlag">
		<div class="col-md-3"></div>
		<div class="popup-modal col-md-6" ng-if="leavePrjCtrl.leaveProjectFlag">
			<div class="panel panel-danger">
				<div class="panel-heading">
				  <h3 class="panel-title">Leave Project<a href="javascript:void(0);" ng-click="leavePrjCtrl.closeDelPopup()" class="close-popup-btn"><i class="fa fa-times" aria-hidden="true"></i></a></h3>
				</div>
				<div class="panel-body">
					<strong class="text-info">Are you sure, you want the Leave this project? </strong>
					<h6 class="text-danger" ng-if="leavePrjCtrl.leaveCode == 'deactivate'"><br/><br/>You are the only user in this project, leaving this project will deactivate this project permanently.</h6>
					<h6 class="text-danger" ng-if="leavePrjCtrl.leaveCode == 'chngadmin'"><br/><br/>You are <strong>Admin</strong> of this project, leaving this project will lead to change Admin of this project.</h6>
					<h6 class="text-danger" ng-if="leavePrjCtrl.leaveCode == 'leave'"><br/><br/>You are about to leave this project, are you sure?</h6>
					<hr/>
					<button class="btn btn-sm btn-primary" ng-click="leavePrjCtrl.removeProject()">Leave</button>
					<button class="btn btn-sm btn-default" ng-click="leavePrjCtrl.closeDelPopup()">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>